.moreDetail {
    width: 100%;
    height: 20rem;

    margin-top: 2rem;

    overflow: hidden;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 5rem;

    background-color: var(--color-70);
    transition: 0.5s;
}

.moreDetail-header {
    width: 100%;
    height: 1.5rem;

    position: relative;
    float: left;

    background-color: var(--color-95);
}

.moreDetail-header-nav,
.moreDetail-header-nav-active {
    width: auto;
    height: 1.55rem;

    padding: 0 0.45rem;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1.5rem;

    cursor: pointer;
}

.moreDetail-header-nav-active {
    color: var(--color-D);
    background-color: var(--color-70);
}

.moreDetail-body {
    width: 100%;
    height: calc(100% - 1.5rem);

    position: relative;
    float: left;
}
