.detail {
    width: 100%;
    height: calc(100% - var(--size-header));

    overflow: hidden;

    position: relative;
    float: left;

    background-color: var(--color-70);
}

.detail-container {
    width: 100%;
    height: 100%;

    position: relative;
    float: left;

    background-size: cover;
}

.detail-cover {
    width: 100%;
    height: 100%;

    position: relative;
    float: left;

    background-color: var(--color-90);
    opacity: 0.9;
}

.detail-info-container {
    width: calc(100% - 12rem);
    height: auto;

    position: absolute;
    top: calc(100% - 5rem);
    left: 50%;
    transform: translate(-50%, -100%);
}

.detail-status {
    width: auto;
    height: 2rem;

    padding: 0.5rem 1rem;

    position: relative;
    float: left;

    color: '#FFFFFF00';
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;

    background-color: var(--color-50);
    border-radius: 1rem;
    box-sizing: border-box;
}

.detail-genres,
.detail-companies {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}

.detail-info-general-italic {
    width: auto;
    height: auto;

    margin-top: 0.75rem;
    margin-right: 0.5rem;
    padding: 0.5rem 0;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 0.85rem;
    font-weight: 300;
    font-style: italic;

    box-sizing: border-box;
}

.detail-title {
    width: 100%;
    height: auto;

    padding: 0rem 0 1rem 0;

    position: relative;
    float: left;

    color: var(--color-C);
    font-size: 4rem;
    font-weight: 700;

    box-sizing: border-box;
}

.detail-rating-icon {
    width: auto;
    height: 2rem;

    margin-right: 1rem;
    padding: 0.5rem 0;

    position: relative;
    float: left;

    box-sizing: border-box;
}

.detail-info-general {
    width: auto;
    height: 2rem;

    padding: 0.5rem 0;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 1rem;
    font-weight: 500;

    box-sizing: border-box;
}

.detail-info-general-small {
    width: auto;
    height: 1.2rem;

    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.25rem 0;

    position: relative;
    float: left;

    color: var(--color-60);
    font-size: 0.7rem;
    font-weight: 500;

    box-sizing: border-box;
}

.detail-info-division {
    width: auto;
    height: 2rem;

    padding: 0.5rem 0.75rem;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;

    box-sizing: border-box;
}

.detail-overview {
    width: 100%;
    height: auto;

    margin-top: 1rem;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 2;
}

.detail-back {
    width: 6rem;
    height: 6rem;

    padding: 2rem;

    position: absolute;

    color: var(--color-A);

    box-sizing: border-box;

    cursor: pointer;
}

.detail-open {
    width: 100%;
    height: 5rem;

    padding: 0 1rem;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);

    transition: 0.5s;

    cursor: pointer;
}

.detail-open-icon {
    width: 100%;
    height: 2.5rem;

    position: relative;
    float: left;
}

.detail-open-icon-svg {
    width: 1rem;
    height: 1rem;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% - 0.5rem));

    color: var(--color-20);

    transition: 0.5s;
}

.detail-open-message {
    width: 100%;
    height: 2.5rem;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.8rem;
    font-weight: 900;
    text-align: center;

    transition: 0.5s;
}

.detail-open:hover .detail-open-icon-svg {
    color: var(--color-B);
}

.detail-open:hover .detail-open-message {
    color: var(--color-B);
}

.detail-error {
    width: 100%;
    height: 100%;

    padding: 3rem 0.5rem;

    overflow: hidden;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;

    background-color: var(--color-70);
    box-sizing: border-box;
}

@media (max-width: 70rem) {
    .detail-info-container {
        width: calc(100% - 3rem);
    }

    .detail-title {
        font-size: 3rem;
    }

    .detail-back {
        width: 4rem;
        height: 4rem;

        padding: 1rem;
    }
}
