.userComment {
    width: 100%;
    height: auto;

    padding: 0;
    margin-bottom: 1rem;

    position: relative;
    float: left;
}

.userComment-movie {
    width: 100%;
    height: auto;

    margin-bottom: 0.25rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 0.7rem;
    font-weight: 500;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.userComment-comment {
    width: 100%;
    height: auto;

    margin-bottom: 0.25rem;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1.5;

    word-wrap: normal;
}

.userComment-time {
    width: 100%;
    height: auto;

    position: relative;
    float: left;

    color: var(--color-50);
    font-size: 0.5rem;
    font-weight: 300;
}
