.feed {
    width: 100%;
    height: calc(100% - var(--size-header));

    position: relative;
    float: left;

    background-color: var(--color-70);
    box-sizing: border-box;
    transition: 0.5s;
}

.feed-container {
    width: 100%;
    height: 100%;

    padding: 0.5rem;

    overflow-x: hidden;
    overflow-y: scroll;

    scroll-behavior: smooth;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 5rem;

    background-color: var(--color-70);
    box-sizing: border-box;
}

.feed-toTop {
    width: 5rem;
    height: 2rem;

    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% - 1rem));

    background-color: var(--color-50);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 1rem;

    transition: 1s;
    cursor: pointer;
    outline: none;

    opacity: 0;
    z-index: 9;
}

.feed-toTop:hover {
    background-color: var(--color-40);
}

.feed-toTop-icon {
    width: 1rem;
    height: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--color-A);
}
