.filter {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    position: fixed;

    background-color: var(--color-80);
    opacity: 0.95;

    z-index: 2;
}

.filter-container {
    width: 30rem;
    height: auto;

    margin-bottom: 10%;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.filter-title {
    width: 100%;
    height: 2rem;

    margin-top: 0.5rem;
    margin-bottom: 0.75rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

.filter-element-container {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}

.filter-confirm {
    width: auto;
    height: auto;

    margin-top: 1rem;
    padding: 0.5rem 1rem;

    position: relative;
    float: right;

    color: var(--color-30);
    font-size: 0.7rem;
    font-weight: 700;

    background-color: var(--color-70);
    border: none;
    border-radius: 0.5rem;
    transition: 0.5s;

    cursor: pointer;
    outline: none;
}

.filter-confirm:hover {
    background-color: var(--color-60);
}

.filter-division {
    width: 100%;
    height: 0.1rem;

    margin: 1rem 0;

    position: relative;
    float: left;

    border-bottom: dotted var(--color-70) 0.1rem;
}
