.searchBar {
    width: 100%;
    height: 60%;

    padding: 0.25rem 0.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar-input {
    width: calc(100% - 4rem);
    height: 100%;

    padding: 0.25rem 0.5rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 0.6rem;
    font-weight: 500;

    background-color: var(--color-75);
    box-sizing: border-box;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    cursor: pointer;
    outline: none;

    transition: 0.5s;
}

.searchBar-input:hover,
.searchBar-input:focus {
    background-color: var(--color-70);
}

.searchBar-button {
    width: 4rem;
    height: 100%;

    position: relative;
    float: left;

    background-color: var(--color-50);
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    outline: none;

    transition: 0.5s;
}

.searchBar-button:hover {
    background-color: var(--color-40);
}

.searchBar-icon {
    width: 0.8rem;
    height: 0.8rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 70rem) {
    .searchBar-input {
        width: calc(100% - 3rem);
    }

    .searchBar-button {
        width: 3rem;
    }
}
