.user {
    width: 100%;
    height: calc(100% - var(--size-header));

    overflow-x: hidden;
    overflow-y: scroll;

    scroll-behavior: smooth;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    line-height: 5rem;

    background-color: var(--color-70);
}

.user-container {
    width: 100%;
    max-width: 30rem;
    height: auto;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);

    line-height: 1.2;
    text-align: left;
}

.user-info {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}

.user-info-picture {
    width: 10rem;
    height: 10rem;

    margin: 3rem 0 1.5rem 0;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.user-info-picture-update,
.user-info-picture-update-active {
    width: 1rem;
    height: 1rem;

    padding: 0.5rem;

    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(calc(-100% - 0.5rem), calc(-100% - 0.5rem));

    color: var(--color-70);

    background-color: var(--color-30);
    border-radius: 50%;

    cursor: pointer;

    opacity: 0;
    transition: 0.5s;
}

.user-info-picture-update-active {
    opacity: 1;
}

.user-info-picture-update-active:hover {
    background-color: var(--color-10);
}

.user-info-basic {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}

.user-info-userName {
    width: 100%;
    height: auto;

    margin-bottom: 0.25rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

.user-info-fullName {
    width: 100%;
    height: auto;

    position: relative;
    float: left;

    color: var(--color-D);
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
}

.user-util-container {
    width: auto;
    height: auto;

    margin: 1rem 0;

    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(calc(-100% - 1.75rem), calc(-100% - 1.75rem - 15px));
}

.user-content-container {
    width: 100%;
    height: auto;

    margin: 3rem 0;

    position: relative;
    float: left;

    background-color: var(--color-75);
}

.user-content-header {
    width: 100%;
    height: 1.5rem;

    position: relative;
    float: left;

    background-color: var(--color-85);
}

.user-content-body {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}
