.genre {
    width: auto;
    height: 1rem;

    margin-right: 0.5rem;
    padding: 0 0.2rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1rem;

    background-color: var(--color-60);
    border-radius: 0.25rem;
}
