.crew {
    width: calc(10% - 1rem);
    height: auto;

    overflow: hidden;

    margin: 0.5rem;

    position: relative;
    float: left;

    background-color: var(--color-85);
    border-radius: 0.35rem;

    transition: 0.5s;
}

.crew-picture {
    width: 100%;
    padding-top: calc(100% / 3 * 4);

    position: relative;
    float: left;

    background-size: cover;
    background-position: center;
}

.crew-info {
    width: 100%;
    height: 2rem;

    position: relative;
    float: left;
}

.crew-info-name {
    width: calc(100% - 1rem);
    height: 1rem;

    margin: 0 0.5rem;

    overflow: hidden;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 0.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.crew-info-role {
    width: calc(100% - 1rem);
    height: 1rem;

    margin: 0 0.5rem;

    overflow: hidden;

    position: relative;
    float: left;

    color: var(--color-40);
    font-size: 0.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 0.9rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

@media (max-width: 100rem) {
    .crew {
        width: calc(100% / 8 - 1rem);
    }
}

@media (max-width: 80rem) {
    .crew {
        width: calc(100% / 6 - 1rem);
    }
}

@media (max-width: 60rem) {
    .crew {
        width: calc(25% - 1rem);
    }
}
