.socialSignIn {
    width: 100%;
    height: auto;

    margin-top: 0.75rem;

    position: relative;
    float: left;
}

.socialSignIn-button {
    width: calc(100% / 3 - 2rem / 3);
    height: 2rem;

    margin-right: 1rem;

    position: relative;
    float: left;

    color: var(--color-D);
    font-size: 0.6rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;

    opacity: 0.75;

    transition: 0.5s;
}

.socialSignIn-button:hover {
    opacity: 1;
}

.google {
    background-color: #db4437;
}

.facebook {
    background-color: #4267b2;
}

.siliconvalley {
    background-color: #00695c;
    margin-right: 0;
}
