.userRecentWatching {
    width: 100%;
    height: auto;

    padding: 1rem 0.5rem 0.5rem 1rem;

    position: relative;
    float: left;

    box-sizing: border-box;
}

.userRecentWatching-none {
    width: 100%;
    height: 5rem;

    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.65rem;
    font-weight: 500;
    text-align: center;
    line-height: 5rem;
}
