.similarList {
    width: 100%;
    height: 100%;

    padding: 0.5rem;

    overflow-x: hidden;
    overflow-y: scroll;

    position: relative;
    float: left;

    color: var(--color-30);
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
    line-height: 5rem;

    white-space: nowrap;

    box-sizing: border-box;
}
