.movie {
    width: calc(20% - 1rem);
    height: auto;

    margin: 0.5rem;

    position: relative;
    float: left;

    text-align: left;
    line-height: 1;

    background-color: var(--color-75);
    opacity: 0.5;
    transition: 1s;

    cursor: pointer;
}

.movie:hover {
    opacity: 1;
}

.movie-poster {
    width: 100%;
    padding-top: calc(100% / 3 * 4.5);

    position: relative;
    float: left;

    background-size: 100% 100%;
    background-position: 'center';
    transition: 1s;
}

.movie-progress-bar {
    width: 100%;
    height: 0.25rem;

    overflow: hidden;

    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, calc(-100% + 0.05rem));

    background-color: var(--color-60);
}

.movie-progress {
    height: 100%;

    position: relative;
    float: left;

    background-color: #d32f2f;
}

.movie-info {
    width: 100%;
    height: 8rem;

    padding: 0.5rem;

    position: relative;
    float: left;

    box-sizing: border-box;
}

.movie-genre {
    width: 100%;
    height: 1rem;

    overflow: hidden;

    margin-top: 0.1rem;
    margin-bottom: 0.15rem;

    position: relative;
    float: left;

    box-sizing: border-box;
}

.movie-title {
    width: 100%;
    max-height: 1rem;
    overflow: hidden;

    margin: 0.3rem 0;

    position: relative;
    float: left;

    color: var(--color-C);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;

    box-sizing: border-box;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie-rate {
    width: 50%;
    height: 1rem;

    position: relative;
    float: left;

    font-size: 0.7rem;
}

.movie-release {
    width: 50%;
    height: 1rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 0.5rem;
    font-weight: 500;
    text-align: right;
    line-height: 1rem;
}

.movie-overview {
    width: 100%;
    max-height: 3rem;
    overflow: hidden;

    margin-top: 0.2rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (max-width: 100rem) {
    .movie {
        width: calc(100% / 4 - 1rem);
    }
}

@media (max-width: 80rem) {
    .movie {
        width: calc(100% / 3 - 1rem);
        opacity: 1;
    }
}

@media (max-width: 60rem) {
    .movie {
        width: calc(100% / 2 - 1rem);
    }
}
